@import '~/styles/variables.scss';

.list {
  display: grid;
  margin: 1rem 0 3rem;
  gap: 1rem;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  box-shadow: $box-shadow;
}
.create {
  position: relative;
  height: 203px;
  &:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: $color-gray;
    transform: translate(-50%, -50%);
    opacity: .5;
  }
  &:hover {
    &:before {
      opacity: .8;
    }
  }
}