@import '~/styles/variables.scss';

.root {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}

.hiddenCheckbox {
  border: 0;
  clip: rect(0 0 0 0);
  // clippath: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: papayawhip;
  border-radius: 3px;
  transition: all 150ms;

  .icon {
    visibility: hidden;
  }
  &.checked {
    background-color: salmon;
    .icon {
      visibility: visible;
    }
  }
  .hiddenCheckbox:focus + & {
    box-shadow: 0 0 0 3px pink;
  }
}
