@import '~/styles/variables.scss';

.root {
  display: grid;
  grid-template-rows: 100px 1fr 20px;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
  .image {
    margin: 0 auto;
  }
  .name {
    text-align: center;
  }
  .price {
    font-size: 20px;
    text-align: center;
  }
}
